body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box; /*! this is used to include padding and border in the element's total width and height */
  border: 1px solid #5f9341;
  margin-bottom: 4px;
}

button {
  padding: 10px 20px;
  background: #a85858ff;
  border: 1px solid #5f9341;
  font-weight: bold;
  border-radius: 4px;
}

ul {
  margin-top: 8px;
  padding-left: 10px;
  list-style: none;
}

li {
  margin-top: 5px;
}

li a {
  color: #5f9341;
}

#delete-btn {
  background: #ffffff;
  color: #5f9341;
}
